@import 'screen';

@mixin players($height, $left, $top) {
	height:$height;
	position: relative;
	left: $left;
	top:$top;
	display: none;
}

body{
	background-color:black;
	
	#containerIndex {
		width:960px;
		height:680px;
		background-image:url('../images/backgroundindex2.jpg');
		background-repeat:no-repeat;
		margin:0 auto;
		position:relative;
		top:80px;

		#players {

			#LeBron {
				@include players(300px, 50px, -60px);
			}

			#LeBron2 {
				@include players(420px, 90px, -20px);
			}


			#KD {
				@include players(400px, 120px, -65px);
			}

			#KD2 {
				@include players(450px, 30px, -30px);
			}

			#Kobe {
				@include players(400px, 105px, -10px);
				width:250px;
			}

			#Kobe2 {
				height:400px;
				position:relative;
				top:-25px;
				display:none;
			}
		}

		#Some {
			color:white;
			font-size:50pt;
			font-weight:bolder;
			position:relative;
			left:150px;
		}

		#logo {
			height:30px;
			width:100px;
			position:relative;
			left:420px;
			top:15px;
			opacity:0.6;
		}

	}

}
