@import 'screen';


h1 {font-size: 30px}

body {
	font-family: ContrailOne-Regular;
	background-color: black;
	color:white;
}

td { padding:10px 0px;}

th { color: orange;}

#header {
	background-image: url("../images/wallpaper.jpg");
	background-position: 93px 2px;
	padding: 50px;
	height: 160px;
	border: solid 2px white;
	background-repeat: no-repeat;

	#nikeLogo{
		height: 50px;
		width: 140px;
		position: absolute;
		top: 20px;
		left: 40px;
	}

	#JustDoIt {
		position: absolute;
		color: white;
		left: 115px;
		top: 53px;
		font-size: 20px;
	}

}

.container {
	/*background-color:white;*/
	width: 100%;
	margin-top: 20px;
	
	form {
		position: absolute;
		right: 50px;
		#s_search {
				border-radius: 10px;
			}
	}

	.content {
		text-align: center;
		width: 700px;
		margin:0 auto;
		/*color:white;*/

		div {
			display: inline-block;
			margin: 40px 30px;
			/*border: 1px solid;
			border-radius: 50px;*/
			img {
				border-radius: 70px;
				border: 1px solid white;
			}
		}
	}

	.content_two {
		width: 350px;
		margin: 0 auto;
	}

}

/* Home.php style ======================*/
