@import 'screen';

#header{
	background-image:url('../images/background.jpg');
	padding:50px;	
	height:100px;
	
	#nikeLogo{
		height:100px;
		width:300px;
		position:relative;
		top:-10px;
	}
	
	#JustDoIt{
		color:white;
		font-size:40pt;
		font-weight: bolder;
		position:relative;
		left:-180px;
		top:20px;
	}

}