@import 'screen';


h1 {font-size: 30px}

body {
	font-family: ContrailOne-Regular;
	background-color: black;
	color:white;
}

td { padding:10px 0px;}

th { color: orange;}

#header {
	background-image: url("../images/wallpaper.jpg");
	background-position: 93px 2px;
	padding: 50px;
	height: 160px;
	border: solid 2px white;
	background-repeat: no-repeat;

	#nikeLogo{
		height: 50px;
		width: 140px;
		position: absolute;
		top: 20px;
		left: 40px;
	}

	#JustDoIt {
		position: absolute;
		color: white;
		left: 115px;
		top: 53px;
		font-size: 20px;
	}

}

.container {
	/*background-color:white;*/
	width: 100%;
	margin-top: 20px;
	
	#search {
		/*position: absolute;
		right: 50px;*/
		float:left;
		#s_search {
				border-radius: 10px;
			}
	}
	
	
	#LoginButton{
	position:relative;
	left:950px;
	top:-20px;
	width:50px;
	}

	#RegisterButton{
	position:relative;
	left:1020px;
	top:-35px;
	width:50px;
	}
	

	#Login{
		background-color:white;
		border-radius:10px;
		color:black;
		height:150px;
		width:250px;
		text-align: center;
		position:absolute;
		left:850px;
		display:none;
	}

	#Register{
		background-color:white;
		border-radius:10px;
		color:black;
		height:150px;
		width:250px;
		text-align: center;
		position:absolute;
		left:900px;
		display:none;

	}

	.content {
		text-align: center;
		width: 700px;
		margin:0 auto;

		#kobe {
			background: url("../images/KobeLogo.JPG");
			height: 150px;
			width: 150px;
			display: inline-block;
			margin: 40px 30px;
			border-radius: 100px;
		}

		#lebron {
			background: url("../images/lebronlogo2.jpg");
			height: 150px;
			width: 150px;
			display: inline-block;
			margin: 40px 30px;
			border-radius: 100px;
		}

		#kd {
			background: url("../images/KDLogo.jpg");
			height: 150px;
			width: 150px;
			display: inline-block;
			margin: 40px 30px;
			border-radius: 100px;
		}
	}

	.content_two {
		width: 350px;
		margin: 40px auto;
	}

}

/* Home.php style ======================*/
