/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../Users/BryanGamotea/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Users/BryanGamotea/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Users/BryanGamotea/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Users/BryanGamotea/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Users/BryanGamotea/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Users/BryanGamotea/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Users/BryanGamotea/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Users/BryanGamotea/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Users/BryanGamotea/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 4, ../sass/main.scss */
h1 {
  font-size: 30px;
}

/* line 6, ../sass/main.scss */
body {
  font-family: ContrailOne-Regular;
  background-color: black;
  color: white;
}

/* line 12, ../sass/main.scss */
#header {
  background-image: url("../images/wallpaper.jpg");
  background-position: 93px 2px;
  padding: 50px;
  height: 160px;
  border: solid 2px white;
  background-repeat: no-repeat;
}

/* line 19, ../sass/main.scss */

/* line 20, ../sass/main.scss */

#header #nikeLogo {
  height: 50px;
  width: 140px;
  position: absolute;
  top: 20px;
  left: 40px;
}

/* line 27, ../sass/main.scss */

/* line 28, ../sass/main.scss */

#header #JustDoIt {
  position: absolute;
  color: white;
  left: 115px;
  top: 53px;
  font-size: 20px;
}


/* line 37, ../sass/main.scss */

/* line 38, ../sass/main.scss */

.container {
  /*background-color:white;*/
  width: 100%;
  margin-top: 20px;
}

/* line 42, ../sass/main.scss */

/* line 43, ../sass/main.scss */
.container form {
  position: absolute;
  right: 50px;
}
/* line 46, ../sass/main.scss */
.container form #s_search {
  border-radius: 10px;
}
/* line 51, ../sass/main.scss */

.container .content {
  text-align: center;
  width: 700px;
  margin: 0 auto;
  /*color:white;*/
}

/* line 48, ../sass/main.scss */

/* line 57, ../sass/main.scss */

.container .content div {
  display: inline-block;
  margin: 40px 30px;
  /*border: 1px solid;
  border-radius: 50px;*/
}
/* line 53, ../sass/main.scss */
/* line 62, ../sass/main.scss */
.container .content div img {
  border-radius: 70px;
  border: 1px solid white;
}

/* Home.php style ======================*/
