/* line 1, ../sass/shoes.scss */
#shoeContent {
  width: 100%;
  position: relative;
  top: 100px;
}
/* line 6, ../sass/shoes.scss */
#shoeContent h1 {
  padding-bottom: 90px;
}
/* line 9, ../sass/shoes.scss */
#shoeContent #shoeMamba {
  position: absolute;
  top: -50px;
  left: -230px;
}
/* line 15, ../sass/shoes.scss */
#shoeContent #shoeMamba2 {
  position: absolute;
  top: -70px;
  right: -315px;
  height: 200px;
  width: 200px;
}
/* line 23, ../sass/shoes.scss */
#shoeContent #shoeMamba3 {
  position: absolute;
  top: -75px;
  right: -120px;
  height: 215px;
  width: 233px;
}
/* line 31, ../sass/shoes.scss */
#shoeContent #shoeMamba5 {
  position: absolute;
  height: 120px;
  left: -105px;
  top: -40px;
}
/* line 38, ../sass/shoes.scss */
#shoeContent table {
  position: relative;
  left: -245px;
}
